@model IEnumerable<PoliSchool.Web.Models.StudentListModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Estudiantes</h1>

<p>
    <a asp-action="Create">Agregar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Codigo
            </th>
            <th>
                Nombre
            </th>
            <th>
               Fecha Creación
            </th>
            <th>
               Fecha Inscripción
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDateDisplay)
            </td>
            
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id  }) |
                    @Html.ActionLink("Ver Detalle", "Details", new { id = item.Id}) 
              
            </td>
        </tr>
}
    </tbody>
</table>
